<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
{{!-- 類別選單 --}}
<div class="row justify-content-center">
  <form action="/filter" method="POST" >
  <select name="filter" id="filter" class="form-select form-select-bg mb-3 mt-5" onchange="this.form.submit()">
    <option selected>類別</option>
    {{#if category}}
    <option value="{{category._id}}" hidden="hidden" selected="selected">{{category.name}}</option>
    {{/if}}
    {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  </form>
</div>
{{> message}}
{{!-- 金額顯示 --}}
<div name="total" id="total" class="flex-column align-items-center m-2 ">
  <p >總金額：</p>
    <div class="flex-column align-items-center" name="totalAmount" id="totalAmount" >
     <h2>{{totalAmount}}</h2>
    </div>
</div>

{{!-- 細項顯示 --}}
{{#each mapDetails}}
<div class="border-bottom bg-success p-2 text-dark bg-opacity-10 container justify-content-md-center" name="detail-outer">
  <div class="row justify-content-md-center"  name="detail-list">
    <div class="col col-lg-2" name="category">
      <i class="{{ this.icon }}"></i>
    </div>
    <div class="col-md-auto" name="detail-middle">
      <div name="detail-info"></div>
        <div name="detail-name">
          {{this.name}}
          </div>
        <div name="detail-date">
          {{this.date}}
          </div>
      <div class="col col-lg-2" name="detail-amount">
        {{this.amount}}
        </div>
    </div>
    <div class="col col-lg-2" name="edit_delete">
     <a class="btn btn-outline-secondary" href="./{{ this._id }}/edit">修改</a>
     <form action="./{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
     <button class="btn btn-outline-danger" type="submit">delete</button>
     </form>
    </div>
  </div>
</div>
{{/each}}
{{!-- 新增品項支出按鈕 --}}
<div class="text-center mt-5">
    <a href="/new"><button class="btn btn-outline-success" type="submit" id="create">新增支出</button></a>
</div>
</div>
</div>
</div>