<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
{{!-- 類別選單 --}}
<div class="row justify-content-center">
  <form action="/filter" method="POST" >
  <select name="filter" id="filter" class="form-select form-select-bg mb-3 mt-5" onchange="this.form.submit()">
    {{#if category}}
    <option value="{{category._id}}" hidden="hidden" selected="selected">{{category.name}}</option>
    {{/if}}
    <option value="all">全部類別</option>
    {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  </form>
</div>
{{> message}}
{{!-- 金額顯示 --}}
<div name="total" id="total" class="flex-column align-items-center m-2 ">
  <p >總金額：</p>
    <div class="flex-column align-items-center" name="totalAmount" id="totalAmount" >
     <h2>{{totalAmount}}</h2>
    </div>
</div>

{{!-- 細項顯示 --}}
{{#each mapDetails}}
<div class="border-bottom bg-success text-dark bg-opacity-10 container " name="detail-outer">
  <div class="d-flex row align-items-center"  name="detail-list">
    <div class=" col col-lg-2" name="category">
      <h1 class="text-success  "><i class="{{ this.icon }}"></i></h1>
    </div>
    <div class="col col-lg-7" name="detail-middle">
      <div name="detail-info">
        <p class="text-muted text-secondary ">{{ this.date }}</p>
        <h4 class="fw-bold text-secondary ">{{ this.name }}</h4>
        <h5 class="fw-bold text-secondary ">${{ this.amount }}</h5>     
      </div>
    </div>
    <div class="col col-lg-3" name="edit_delete">
    <form action="./details/{{ this._id }}/edit"style="display: inline;">
    <button class="btn btn-outline-primary" type="submit">修改</button>
    </form>
     <form action="./details/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
     <button class="btn btn-outline-danger" type="submit">刪除</button>
     </form>
    </div>
  </div>
</div>
{{/each}}
{{!-- 新增品項支出按鈕 --}}
  <div class="text-center mt-5 mb-5">
    <a href="/details/new"><button class="btn btn-outline-success" type="submit" id="create">新增支出</button></a>
  </div>
   </div>
 </div>
</div>