    <div class="text-center mt-5 mb-4">
      <h3 name="new-title">請輸入你的支出 </h3>
      <div name="new-remind"><span class="text-danger">*</span>符號為必填欄位</div>
    </div>
<div class="container">
  <form action="/details/new" method="POST" >
    <div class="col-7 border-bottom bg-success p-2 text-dark bg-opacity-10 container justify-content-md-center" >
       {{!-- 細項 --}}
       {{> message}}
      <label for="name" class="form-label">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="請輸入花費名稱" name="name" value="{{name}}" required>
    </div>
    <div class="col-7 border-bottom bg-success p-2 text-dark bg-opacity-10 container justify-content-md-center">
      <label for="date" class="form-label">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" placeholder="請輸入英文店名" name="date" value="{{date}}" required>
    </div>
    <div class="col-7 border-bottom bg-success p-2 text-dark bg-opacity-10 container justify-content-md-center">
      <label for="caterogyId" class="form-label">類別<span class="text-danger">*</span></label>
      <select name="categoryId" id="categoryId" class="form-control" value="" required>
        <option value="{{categoryId}}" hidden="hidden">{{ categoryName}}</option>
        <option >類別</option>
        {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-7 border-bottom bg-success p-2 text-dark bg-opacity-10 container justify-content-md-center">
      <label for="amount" class="form-label">金額<span class="text-danger">*</span></label>
      <input type="number" class="form-control" id="amount" placeholder="請輸入金額" name="amount" value="{{amount}}" required>
    </div>
    <div class="text-center mt-5">
      <button type="submit" class="btn btn-outline-success" name="new">
         新增支出
      </button>
      <a href="/">
        <button type="button" class="btn btn-outline-secondary">
          返回首頁
        </button>
      </a>
      {{! 使用type="reset" 可以清除/還原輸入 }}
      <button type="reset" class="btn btn-outline-danger">重新輸入</button>
    </div>
  </form>
</div>